
.header {
	background-color: rgba(207, 216, 208, 1);
	position: sticky;
	margin: 0;
	padding: 10px 0px 0px 10px;
	width: 100%;
	border-bottom: 1px solid black;
	height: 120px;
}

.navbar {
	list-style: none;
	font-family: Source sans pro;
	line-height: 0px;
	margin: 0;
	width: 100%;
	height: 120px ;
}

.sticky-bottom {
	position: fixed;
	border-top: 1px solid black;
	height: 110px;
}

.container  {
	padding-top: none;
	padding-bottom: none;
	display: block;
}
	
.navbar-brand {
	color: rgba(31, 59, 14, 1) ;
	border: 0;
	box-sizing: none;
}

nav {
	position: fixed;
	margin-top: 0;
	height: 100px;
}

h1 {
	margin-bottom: 0px;
	font-size: 24px;
	color: rgba(31, 59, 14, 1);
	font-family: bitter ;
}

h2 {
	font-size: 16px;
	color: black;
	font-style: semibold;
	font-family: source sans pro;
}

p {
	line-height: 1.3em;
}

em {
	font-size: 16px;
	color: rgba(14, 59, 21, 1);
	font-family: source sans pro;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.8;
}

footer {
	position: fixed;
	text-align: left;
	width: 100%;
	padding: 10px;
	background-color: rgba(207, 216, 208, 1);
	
}

a:link {
	color: black;
	text-decoration: none;
	text-decoration-color: inherit;
}

